<!DOCTYPE html>
<html lang="en" style="background-repeat: no-repeat; background-size: auto; border-bottom-left-radius: 30px; border-bottom-right-radius: 31px;">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <title>Carousel Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet"/>
        <!-- Custom styles for this template -->
        <link href="carousel.css" rel="stylesheet"/>
    </head>
    <body style="margin-top: 40px; opacity: 0.9; background-image: url('Library%20Architecture.jpg'); background-size: cover; background-clip: padding-box;">
         <div id="bookissue" >
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Library System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="library-home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="member-page.html">Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="book.html">Our Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Book Lending</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div v-show="step1" class="jumbotron mr-5 ml-5 mt-5 pt-0 pb-1 text-black-50 shadow-sm bg-dark" style="border-radius: 56px; opacity: 1; clear: both;"> 
            <h1 class="display-3 text-white">Select Member</h1> 
            <hr class="my-4"/> 
            <nav class="navbar navbar-light text-light bg-dark">
                <div class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  v-model="searchid"/>
                    <button class="btn btn-outline-success my-2 my-sm-0 mt-2 mb-2 ml-5" v-on:click="searchMember()">Search</button>
                </div>
            </nav>
            <hr/>
            <div class="row" >
                
                    <div class="col">
                        <label>{{member.name}}</label>
                    </div>
                    <div class="col">
                        <label>{{member.membershipType}}</label>
                    </div>
            </div>
            <p class="lead"> <a class="btn btn-lg mt-5 btn-outline-light ml-5 shadow-sm btn-link text-muted" v-on:click="procced()" href="#" role="button" style="font-style: italic;">Proceed>>></a> </p> 
        </div>
        <div v-show="step2" class="jumbotron mr-5 ml-5 mt-5 pt-0 pb-1 text-black-50 shadow-sm bg-dark" style="border-radius: 56px; opacity: 1; clear: both;"> 
            <h1 class="display-3 text-white">Select Book for {{member.name}}</h1> 
            <hr class="my-4"/> 
            <nav class="navbar navbar-light text-light bg-dark">
                <div class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" v-model="bookid"/>
                    <button class="btn btn-outline-success my-2 my-sm-0 mt-2 mb-2 ml-5" type="submit" v-on:click="searchBook()">Search</button>
                </div>
            </nav>
             <table class="table"> 
                    <thead> 
                        <tr> 
                            <th></th> 
                            <th class="text-white">Book Code</th> 
                            <th class="text-white">Book Tittle</th> 
                            <th></th> 
                        </tr>                         
                    </thead>                     
                    <tbody> 
                        <tr> 
                            <th scope="row" class="text-white">1</th> 
                            <td class="text-white">{{books.bookCode}}</td> 
                            <td class="text-white">{{books.bookName}}</td> 
                            <td>
                                <button  class="btn btn-light" v-on:click="saveIssue()">Add Book</button>
                            </td>                             
                        </tr>                         
                            
                    </tbody>                     
                </table> 
            <button class="btn btn-lg mt-5 shadow-sm ml-5 btn-light text-success" role="button" style="font-style: italic; vertical-align: middle;" type="button">DONE</button>
        </div></div>
        <!-- Marketing messaging and featurettes
    ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
        <!-- /.container -->
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="assets/js/holder.min.js"></script>
         <script src="assets/js/vue.js"></script>
        <script src="assets/js/vue-router.js"></script>
        <script src="assets/js/axios.js"></script>
        <script>
var memberHome = new Vue({
    el: '#bookissue',
    data: function () {
        return{
step1:true,
step2:false,
            authors: [],
            book: [],
            member: [],
            issueDate: "",
            dueDate: "",
            idNumber: "",
            searchid: "",
            bookid: "",
            books: "",

        }


    },
    methods: {
        procced(){
            this.step1 = false
    this.step2 = true
        },
        removeBook(index) {
            this.book.splice(index, 1)
        },
        saveIssue() {
            console.log(this.books.bookCode+" "+this.member.idNumber)
//            console.log(this.member)
//            console.log("book starts here" +this.book)
            axios

                    .post('/savebookissue/', {
                        memberId: this.member.idNumber,
                        bookCode:this.books.bookCode,
                    })

                    .catch(error => console.log(error))
        },
        addBook() {
            this.book.push(this.books);
        },

        searchMember() {
            this.idNumber = this.searchid;
            axios

                    .get('/getmemberbyid/' + this.idNumber)
                    .then(response => (this.member = response.data))

        },
        searchBook() {
            this.idNumber = this.bookid;
            axios

                    .get('/searchbook/' + this.idNumber)
                    .then(response => (this.books = response.data))

        },
        bookAuthors() {

            axios

                    .get('/bookAuthors/' + this.test)
                    .then(response => (this.authors = response.data))
        },

    },
    mounted: function () {

    }

})
        </script>
    </body>
</html>