<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>SB Admin 2 - Dashboard</title>

        <!-- Custom fonts for this template-->
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="css/sb-admin-2.min.css" rel="stylesheet">

    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-poll-h"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Cadastore  <sup>beta</sup></div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Dashboard -->
                <li class="nav-item active">
                    <a class="nav-link" href="/home">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Heading -->
                <div class="sidebar-heading">
                    Tools
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link" href="upload_records">
                        <i class="fas fa-fw fa-angle-up"></i>
                        <span>Upload Survey Record</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/track_survey_record">
                        <i class="fas fa-fw fa-search"></i>
                        <span>Track Survey Record</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="add_map_data">
                        <i class="fas fa-fw fa-calendar"></i>
                        <span>Add  Map Data</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="download_reports">
                        <i class="fas fa-fw fa-download"></i>
                        <span>Download Records</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="manage_record">
                        <i class="fas fa-fw fa-table"></i>
                        <span>Manage Records</span></a>
                </li>







                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">




            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column" style="background-image: url('sublim3_246018.jpg'); background-repeat: no-repeat; background-size: cover;">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>

                        <!-- Topbar Search -->


                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <!-- Dropdown - Messages -->
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                     aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input type="text" class="form-control bg-light border-0 small"
                                                   placeholder="Search for..." aria-label="Search"
                                                   aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>



                            <div class="topbar-divider d-none d-sm-block"></div>

                            <!-- Nav Item - User Information -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">User</span>
                                    <img class="img-profile rounded-circle"
                                         src="img/undraw_profile.svg">
                                </a>
                                <!-- Dropdown - User Information -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Profile
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logout
                                    </a>
                                </div>
                            </li>

                        </ul>

                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid" id="app" >

                        <!-- Page Heading -->
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">Manage Records</h1>

                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Survey Of</label>
                                <input type="text" v-model="surveyOf" id="surveyOf" class="form-control"   required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">Land Surveyor</label>
                                <select class="form-control" v-model = "landSurveyorId" id="landSurveyorId" >

                                    <option v-for="users in users"  :value="users.id">{{users.firstName+" "+users.lastName}}</option>

                                </select>


                            </div>
                            <div class="col-md-3">
                                <label for="validationCustom02" class="form-label">District</label>
                                <select class="form-control" v-model="districtId" id="districtId" >
                                    <option v-for="districts in districts"  :value="districts.id">{{districts.name}}</option>
                                </select>
                            </div>

                            <div class="col-md-3">

                                <input type="submit" v-on:click="searchRecord" class="btn btn-primary animated--grow-in" value="Search Record"/>
                            </div>
                        </div>
                        <hr>


                        <!-- Content Row -->
                        <!--<div class="row">-->

                        <div class="card shadow mb-4" style="opacity: 0.97" >
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Available Records</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Action</th>
                                                <th>Survey Of</th>
                                                <th>Land Surveyor</th>
                                                <th>District</th>
                                                <th>Date</th>
                                                <th>Diagram Number</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>

                                                <th>Action</th>
                                                <th>Survey Of</th>
                                                <th>Land Surveyor</th>
                                                <th>District</th>
                                                <th>Date</th>
                                                <th>Diagram Number</th>

                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr v-for="records in records" :key="index">
                                                <td><a :href="'edit_record?id='+records.id" class="btn btn-success btn-circle">
                                                        <i class="fas" >Edit</i>
                                                    </a>
                                                    <a :href="'delete?id='+records.id" class="btn btn-danger btn-circle">
                                                        <i class="fas" >Del</i>
                                                    </a></td>
                                                <td>{{records.surveyOf}}</td>
                                                <td>{{records.landSurveyor}}</td>
                                                <td>{{records.district}}</td>
                                                <td>{{records.dateUploaded}}</td>
                                                <td>{{records.diagramNumber}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--</div>-->


                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; lesley.cadastore.com</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="/logout">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/chart.js/Chart.min.js"></script>


        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.js"></script>
        <script>
var app = new Vue({
    el: '#app',
    data() {
        return {
            records: "",
            districts: "",
            districtId: "",
            landSurveyorId: "",
            users: "",
            surveyOf: "",

        }
    },
    methods: {

        getallRecords() {
            axios
                    .get('/getallrecords')
                    .then(response => (this.records = response.data))

        },
        getallDistricts() {
            axios
                    .get('/getalldistricts')
                    .then(response => (this.districts = response.data))

        },
        getallusers() {
            axios
                    .get('/getallusers')
                    .then(response => (this.users = response.data))

        },
        searchRecord() {
            
             var error = 0
           
            document.getElementById('landSurveyorId').classList.remove("is-invalid")
            document.getElementById('surveyOf').classList.remove("is-invalid")
            document.getElementById('districtId').classList.remove("is-invalid")
            if (this.landSurveyorId === "") {
                document.getElementById('landSurveyorId').classList.add("is-invalid");
                error = 1

            }
            if (this.surveyOf === "") {
                document.getElementById('surveyOf').classList.add("is-invalid");
                error = 1

            }
            if (this.districtId === "") {
                document.getElementById('districtId').classList.add("is-invalid");
                error = 1

            }
            if (error === 1) {
                return
            }
            
            axios
                    .get('/searchrecord', {
                        params: {
                            landSurveyorId: this.landSurveyorId,
                            surveyOf: this.surveyOf,
                            districtId: this.districtId,

                        }
                    })
                    .then(response => (this.records = response.data))


        }

    },
    mounted: function () {
        this.getallRecords();
        this.getallDistricts();
        this.getallusers();


    }


})

        </script>

    </body>

</html>